<div class="site">
  <div class="header">
    <div class="items">
      <div class="menu">
        <div class="logo"><span>Peexoo</span></div>
         <div class="hambuger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu-list">
          <ul>
            <li>I am a photographer</li>
            <li>Explore photos</li>
            <li>Find a photographer</li>
            <li>Find my photos</li>
            <li class="active">Login or Register</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="row">
      <div class="home">

      </div>
      <div class="sub-menu">
        <div class="box">
          <ul>
            <li>Details</li>
            <li>Portfolio</li>
            <li class="activeb">Availability</li>
            <li>Pricing Packages</li>
            <li>Reviews</li>
          </ul>
        </div>
      </div>


      <div class="calendar">
        <div class="row">
          <div class="col1">
            <h2>Afroshots</h2><img src="../assets/img/heart.png" alt="">
          </div>
          <div class="col2">
            <a href="#">Message Photographer</a>
            <a href="#">Book Now</a>
          </div>
        </div>
        <div class="slide">
          <div class="items">
            <div class="box">
              <table>
                <thead>
                  <tr><th colspan="7" class="month">July</th></tr>
                  <tr>
                    <td>Su</td>
                    <td>Mo</td>
                    <td>Tu</td>
                    <td>We</td>
                    <td>Th</td>
                    <td>Fr</td>
                    <td>Sa</td>
                  </tr>
                </thead>
                <tbody class="calendarBody">
                  <tr>
                    <td>Su</td>
                    <td>Mo</td>
                    <td>Tu</td>
                    <td>We</td>
                    <td>Th</td>
                    <td>Fr</td>
                    <td>Sa</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                  </tr>
                  <tr>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                  </tr>
                  <tr>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                  </tr>
                  <tr>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="box">
              <table>
                <thead>
                  <tr><th colspan="7" class="month">July</th></tr>
                  <tr>
                    <td>Su</td>
                    <td>Mo</td>
                    <td>Tu</td>
                    <td>We</td>
                    <td>Th</td>
                    <td>Fr</td>
                    <td>Sa</td>
                  </tr>
                </thead>
                <tbody class="calendarBody1">
                  <tr>
                    <td>Su</td>
                    <td>Mo</td>
                    <td>Tu</td>
                    <td>We</td>
                    <td>Th</td>
                    <td>Fr</td>
                    <td>Sa</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                  </tr>
                  <tr>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                  </tr>
                  <tr>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                  </tr>
                  <tr>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="box">
              <table>
                <thead>
                  <tr><th colspan="7" class="month">July</th></tr>
                  <tr>
                    <td>Su</td>
                    <td>Mo</td>
                    <td>Tu</td>
                    <td>We</td>
                    <td>Th</td>
                    <td>Fr</td>
                    <td>Sa</td>
                  </tr>
                </thead>
                <tbody class="calendarBody2">
                  <tr>
                    <td>Su</td>
                    <td>Mo</td>
                    <td>Tu</td>
                    <td>We</td>
                    <td>Th</td>
                    <td>Fr</td>
                    <td>Sa</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                  </tr>
                  <tr>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                  </tr>
                  <tr>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                  </tr>
                  <tr>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="buttons">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="col1">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="#">Find a photographer</a></li>
        <li><a href="#">Find my photos</a></li>
        <li><a href="#">Peexoomemories</a></li>
        <li><a href="#">Become a photographer</a></li>
      </ul>
    </div>
    <div class="col1">
      <h3>Company</h3>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Help & Support</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col1">
      <h3>Connect with Us</h3>
      <ul>
        <li><a href="#">5A, Awudu Egheda,</a></li>
        <li><a href="#">Lekki, Lagos.</a></li>
        <li><a href="#">+234 8003229932</a></li>
        <li><a href="#">customer.service@peexo.ai</a></li>
        <li>
          <ul>
            <li><a href="#"><img src="../assets/img/whatsapp.png" alt=""></a></li>
            <li><a href="#"><img src="../assets/img/fabook.png" alt=""></a></li>
            <li><a href="#"><img src="../assets/img/tweet.png" alt=""></a></li>
            <li><a href="#"><img src="../assets/img/insta.png" alt=""></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <footer>
    <p>&copy; {{year}} Peexo Nigeria Limited</p>
  </footer>
</div>
<div class="mobile-menu">
  <div class="close">
    <span></span>
    <span></span>
  </div>
  <div class="inner">
      <ul>
          <li>I am a photographer</li>
          <li>Explore photos</li>
          <li>Find a photographer</li>
          <li>Find my photos</li>
          <li class="active">Login or Register</li>
        </ul>
  </div>
</div>
<router-outlet></router-outlet>